
Homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_002_first_EDA-checkpoint.ipynb
Homework/data/application_test.csv
Homework/data/application_train.csv
Homework/data/bureau.csv
Homework/data/bureau_balance.csv
Homework/data/credit_card_balance.csv
Homework/data/example.jpg
Homework/data/example.mat
Homework/data/example.npy
Homework/data/example.pkl
Homework/data/example.txt
Homework/data/example01.json
Homework/data/example02.json
Homework/data/HomeCredit_columns_description.csv
Homework/data/installments_payments.csv
Homework/data/POS_CASH_balance.csv
Homework/data/previous_application.csv
Homework/data/sample_submission.csv
